@font-face {
  font-family: 'capricons';
  src: url('/font/capricons.eot?9210900');
  src: url('/font/capricons.eot?9210900#iefix') format('embedded-opentype'),
       url('/font/capricons.woff2?9210900') format('woff2'),
       url('/font/capricons.woff?9210900') format('woff'),
       url('/font/capricons.ttf?9210900') format('truetype'),
       url('/font/capricons.svg?9210900#capricons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'capricons';
    src: url('../font/capricons.svg?9210900#capricons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "capricons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-small:before { content: '\e800'; } /* '' */
.icon-left-small:before { content: '\e801'; } /* '' */
.icon-right-small:before { content: '\e802'; } /* '' */
.icon-up-small:before { content: '\e803'; } /* '' */
.icon-record-outline:before { content: '\e804'; } /* '' */
.icon-record:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-block:before { content: '\e809'; } /* '' */
.icon-inbox:before { content: '\e80a'; } /* '' */
.icon-down-dir:before { content: '\e80b'; } /* '' */
.icon-up-dir:before { content: '\e80c'; } /* '' */
.icon-left-dir:before { content: '\e80d'; } /* '' */
.icon-right-dir:before { content: '\e80e'; } /* '' */
.icon-dot-3:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-user-delete:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-direction:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\e817'; } /* '' */
.icon-picture:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */
.icon-video-chat:before { content: '\e81a'; } /* '' */
.icon-video:before { content: '\e81b'; } /* '' */
.icon-thumbs-up:before { content: '\e81c'; } /* '' */
.icon-attention-circled:before { content: '\e81d'; } /* '' */
.icon-comment-1:before { content: '\e81e'; } /* '' */
.icon-location:before { content: '\e81f'; } /* '' */
.icon-help-circled:before { content: '\e820'; } /* '' */
.icon-info-circled:before { content: '\e821'; } /* '' */
.icon-star-filled:before { content: '\e822'; } /* '' */
.icon-comment:before { content: '\e823'; } /* '' */
.icon-flag-1:before { content: '\e824'; } /* '' */
.icon-download:before { content: '\e825'; } /* '' */
.icon-ok-1:before { content: '\e826'; } /* '' */
.icon-tag:before { content: '\e827'; } /* '' */
.icon-reply-all:before { content: '\e828'; } /* '' */
.icon-chart-line:before { content: '\e829'; } /* '' */
.icon-plus:before { content: '\e82a'; } /* '' */
.icon-cancel-circled:before { content: '\e82b'; } /* '' */
.icon-cancel-squared:before { content: '\e82c'; } /* '' */
.icon-plus-circled:before { content: '\e82d'; } /* '' */
.icon-plus-squared:before { content: '\e82e'; } /* '' */
.icon-minus:before { content: '\e82f'; } /* '' */
.icon-minus-circled:before { content: '\e830'; } /* '' */
.icon-minus-squared:before { content: '\e831'; } /* '' */
.icon-back:before { content: '\e832'; } /* '' */
.icon-attach:before { content: '\e833'; } /* '' */
.icon-eye:before { content: '\e834'; } /* '' */
.icon-megaphone:before { content: '\e835'; } /* '' */
.icon-clock:before { content: '\e836'; } /* '' */
.icon-export-1:before { content: '\e837'; } /* '' */
.icon-chart-bar:before { content: '\e838'; } /* '' */
.icon-megaphone-1:before { content: '\e839'; } /* '' */
.icon-globe:before { content: '\e83a'; } /* '' */
.icon-calendar:before { content: '\e83b'; } /* '' */
.icon-resize-small:before { content: '\e83c'; } /* '' */
.icon-phone:before { content: '\e83d'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */