@mixin flwi() {
	float: left;
	width: 100%;
}

.nop {
	padding: 0;
	margin: 0;
}

input,textarea {
	outline: 0;
    font-family: 'Montserrat', sans-serif;

}

ul {
	list-style-type: none;
}

[v-cloak] {
	display: none;
}

.an {
	transition: 0.2s all;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.mt {
    font-family: 'Montserrat', sans-serif;
}