@import "_v";
$pcolor: #2853ca;
$scolor: #9eaad1;
.actstup_app {
    background:  linear-gradient(302deg, #2b57c7, #304b8b);
    height: 100vh;
    .wrapper {
        @include flwi();
        .container {
            .lside {
                height: 100vh;
                background-color: #FFF;
                box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
                padding: 80px 80px;
                position: relative;

                footer { 
                    @include flwi();
                    font-size: 0.65em;
                    font-weight: 500;
                    color: $scolor;
                    position: absolute;
                    bottom: 40px;
                    text-transform: uppercase;
                }
                
                .logo {
                    width: 41px;
                    height: 45px;
                    background-size: cover;
                    float: left;
                    a {
                        @include flwi();
                        height: 100%;
                        text-indent: -9999px;
                    }
                }

                .title {
                    @include flwi();
                    font-size: 1.5em;
                    font-weight: 400;
                    color: $pcolor;
                    font-family: 'Montserrat', sans-serif;
                    padding-top: 60px;
                }

                .tagline {
                    padding-top: 5px;
                    @include flwi();
                    font-size: 0.9em;
                    font-weight: 300;
                    color: rgba($scolor, 1);
                }

                .success-msg {
                    @include flwi();
                    padding: 150px 0 0;
                    text-align: center;
                    .icon-success {
                        width: 60px;
                        height: 60px;
                        background-size: cover;
                        display: block;
                        margin: 0 auto;
                    }

                    .title-success {
                        @include flwi();
                        text-align: center;
                        font-size: 1em;
                        color: $pcolor;
                        font-weight: 500;
                        padding-top: 30px;
                    }

                    p {
                        @include flwi();
                        text-align: center;
                        font-size: 0.8em;
                        color: #868686;
                        font-weight: 400;
                    }

                    .icon-loading {
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                        display: inline-block;
                        margin: 50px auto;
                    }
                }

                .form-signup {
                    @include flwi();
                    padding: 30px 0;
                    
                    .input_s {
                        float: right;
                        button {
                            float: right;
                            background-color: $pcolor;
                            color: #FFF;
                            font-size: 0.75em;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding: 18px 15px;
                            border-radius: 3px;
                            width: 150px;
                            cursor: pointer;
                            &:hover {
                                box-shadow: 0 2px 4px 2px rgba($pcolor, 0.15);
                                background-color: lighten($pcolor, 5);
                            }
                            span {
                                display: block;
                            }

                            .loading-btn {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                background-size: cover;
                                margin: 0 auto;
                                &.hide {
                                    display: none;
                                }
                            }
                        }
                    }
                    .cgu-text {
                        float: left;
                        font-size: 0.75em;
                        font-weight: 300;
                        width: 55%;
                        color: rgba($scolor, 0.85);
                        padding-top: 10px;
                        a {
                            color: darken($scolor, 15);
                            font-weight: 400;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .input {
                        @include flwi();
                        border-radius: 3px;
                        border: 1px solid rgba(#000, 0.05);
                        height: 55px;
                        margin-bottom: 10px;
                        position: relative;
                        &.selected {
                            box-shadow: 0 0px 0px 2px rgba(#c69aec, 0.1);
                        }

                        &.errored {
                            box-shadow: 0 0px 0px 2px rgba(#FF2255, 0.1)
                        }

                        select {
                            float: left;
                            width: 100%;
                            padding: 20px 20px;
                            font-size: 0.85em;
                            font-weight: 300;
                            background-color: transparent;
                            border: 0;
                            width: calc(100% - 55px);
                            color: #919bb6;
                        }

                        .ico {
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            color: lighten($pcolor, 5);
                        }
                        
                        .error-input-icon {
                            position: absolute;
                            right: 10px;
                            top: 15px;
                            color: #FF2255;
                            font-size: 16px;
                            float: right;
                        }
                        .msg-error {
                            float: right;
                            border-radius: 3px;
                            padding: 10px;
                            color: #FFF;
                            font-size: 0.75em;
                            font-weight: 400;
                            position: absolute;
                            top: 50px;
                            right: -10px;
                            background-color: #FF2255;
                            max-width: 200px;
                            z-index: 1;
                            line-height: 14px;
                            display: none;
                            &.show {
                                display: block;
                            }
                            &:before {
                                content: "";
                                display: block;
                                width: 0;
                                height: 0;
                                border: .35rem inset;
                                border-color: transparent transparent #FF2255;
                                border-bottom-style: solid;
                                top: -11px;
                                position: absolute;
                                right: 20px;
                                -webkit-transform: translateX(-50%) rotate(0deg);
                                transform: translateX(-50%) rotate(0deg);
                            }
                        }
                        .spwd {
                            position: absolute;
                            right: 16px;
                            top: 16px;
                            i {
                                color: darken(#c8d3f1, 5);
                                &:hover {
                                    color: darken(#c8d3f1, 10);
                                }
                            }
                        }
                        .input-icon {
                            float: left;
                            height: 55px;
                            text-align: center;
                            width: 55px;
                            border-right: 1px solid rgba(#000, 0.05);
                            i {
                                display: inline-block;
                                color: #c8d3f1;
                                font-size: 18px;
                                position: relative;
                                top: 11px;

                            }
                        }

                        input {
                            float: left;
                            padding: 20px 20px;
                            font-size: 0.85em;
                            font-weight: 300;
                            background-color: transparent;
                            border: 0;
                            width: calc(100% - 55px);
                            &::placeholder {
                                color: #919bb6;
                            }
                        }
                    }
                }
            }
        }
    }
}